default:
  image: 
    name: runmymind/docker-android-sdk
    entrypoint: [""]
stages:
  - test
  - release
test:
  stage: test
  script:
    - cd pretixscan
    - echo "github.token=$GITHUB_TOKEN" > local.properties
    - git submodule init
    - git submodule update
    - GRADLE_USER_HOME=/cache ANDROID_HOME=/android-sdk-linux ./gradlew --no-daemon -Dmaven.repo.local=$(pwd)/repo lintPretixDebug --stacktrace
release:
  stage: release
  script:
    - cat $KSTORE | base64 -d > release.keystore
    - cd pretixscan
    - cat $LOCALPROP > local.properties
    - git submodule init
    - git submodule update
    - GRADLE_USER_HOME=/cache ANDROID_HOME=/android-sdk-linux ./gradlew --no-daemon -Dmaven.repo.local=$(pwd)/repo assemblePretixRelease --stacktrace
  artifacts:
    paths:
      - pretixscan/app/build/outputs/apk/pretix/release/app-pretix-release.apk
    expire_in: '6 weeks'
  only:
    - '/^v.*$/'
variables:
  GIT_SUBMODULE_STRATEGY: recursive
