[submodule "pretixscan/libpretixsync-repo"]
	path = pretixscan/libpretixsync-repo
	url = https://github.com/pretix/libpretixsync.git
	branch = master
[submodule "pretixscan/libpretixui-repo"]
	path = pretixscan/libpretixui-repo
	url = https://github.com/pretix/libpretixui-android.git
