<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="androidx.camera.view, androidx.camera.lifecycle, androidx.camera.core, androidx.camera.camera2, com.serenegiant.usbcameracommon" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="eu.pretix.pretixprint" />
        <package android:name="eu.pretix.pretixprint.debug" />
        <package android:name="de.silpion.bleuartcompanion" />
        <package android:name="com.symbol.datawedge" />
    </queries>

    <!-- The following are added as "required" by the permissions, but we want them to be optional -->
    <!-- See https://developer.android.com/guide/topics/manifest/uses-feature-element#permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:name="eu.pretix.pretixscan.droid.PretixScan"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_logo"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <meta-data
            android:name="android.content.APP_RESTRICTIONS"
            android:resource="@xml/app_restrictions" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".ui.WelcomeActivity"
            android:label="@string/headline_setup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SetupActivity"
            android:label="@string/headline_setup" />
        <activity
            android:name=".ui.info.EventinfoActivity"
            android:label="@string/action_label_statistics"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/action_label_settings"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.EventConfigActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/operation_select_events" />
        <activity
            android:name=".ui.EventSelectActivity"
            android:label="@string/operation_select_event"
            android:theme="@style/AppTheme.Dialog.Animated" />
        <activity
            android:name=".ui.CheckInListSelectActivity"
            android:label="@string/operation_select_event"
            android:theme="@style/AppTheme.Dialog.Animated" />
        <activity
            android:name=".ui.KioskActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.Fullscreen"
            />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name="com.facebook.flipper.android.diagnostics.FlipperDiagnosticActivity"
            android:exported="true" />

        <meta-data android:name="io.sentry.dsn" android:value="${SENTRY_DSN}" />
        <meta-data android:name="io.sentry.auto-session-tracking.enable" android:value="false" />
        <meta-data android:name="io.sentry.breadcrumbs.activity-lifecycle" android:value="false" />
        <meta-data android:name="io.sentry.breadcrumbs.app-lifecycle" android:value="false" />
        <meta-data android:name="io.sentry.breadcrumbs.system-events" android:value="false" />
        <meta-data android:name="io.sentry.breadcrumbs.network-events" android:value="false" />
        <meta-data android:name="io.sentry.breadcrumbs.app-components" android:value="false" />
        <meta-data android:name="io.sentry.breadcrumbs.user-interaction" android:value="false" />
        <meta-data android:name="io.sentry.attach-screenshot" android:value="false" />
        <meta-data android:name="io.sentry.attach-view-hierarchy" android:value="false" />
    </application>

</manifest>